<h2 mat-dialog-title>{{ taskName }}</h2>

<div mat-dialog-content [formGroup]="form">
  <div class="row" *ngIf="isUpdateTask">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <textarea
        matInput
        formControlName="title"
        placeholder="Enter task name"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill" class="half-width">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priorityId">
        <mat-option *ngFor="let option of priorityOptions" [value]="option.id">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let option of statusOptions" [value]="option.id">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill" class="half-width">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-width">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="endDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        formControlName="content"
        placeholder="Enter task content"
      ></textarea>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
